body {
    text-align: center;
    color: white;
    font-weight: 100;
    font-size: 40px;
    background: linear-gradient(to left, #141E30, #243B55);
    font-family: Helvetica, Arial, sans-serif;
}

:root {
    --spacing: 0px;
    --base: #13db6d;
    --blur: 1px;
}

.green {
    color: var(--base);
}

.ranges {
    margin-top: 30px;
}

input {
    width: 100px;
}

#image {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
    margin-bottom: 10px;
}